* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 8vmin 1fr;
  grid-template-areas:
    "nav"
    "main";
}

main {
  grid-area: main;
  background-color: RGB(217,191,76);
}

/* NAV BAR */

nav {
  grid-area: nav;
  background-color: RGB(66,68,81);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

nav > a{
  margin: 2vmin;
  text-decoration: none;
  padding: 1.5vmin;
  border-radius: 2vmin;
  font-size: 3vmin;
  color: RGB(97, 100, 120);
}

nav > a:hover{
  color: RGB(66,68,81);
  background-color: white;
  font-size: 3vmin;
}

nav > a.active {
  color: white;
  font-weight: 400;
}

nav > a.active:hover{
  color: RGB(64,65,63);
  background-color: white;
}

nav > #home {
  margin-right: auto;
}

nav > #logout {
  margin-left: auto;
}

nav > .unclick {
  pointer-events: none;
  cursor: default;
  color: white;
}

#kino {
  margin-left: 10vmin;
}

/* SEARCH TITLE PAGE */

#searchtitle {
    height: 80vmin;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

#searchtitle > form > input {
    margin-bottom: 3vmin;
    font-size: 4vmin;
    height: 7vmin;
    width: 70vmin;
    border-radius: 1vmin;
    border: .4vmin solid blue;
}

#help {
    color: RGB(66,68,81);
}

#message {
  font-family: 'Montserrat', sans-serif;
  color: RGB(66,68,81);
  margin-top: 30vmin;
}

textarea {
  width: 600px;
  height: 300px;
}
div, form, table, th, td, h1, h2, h5, title, header {
  padding-left: 80px;
}