<%- include('../partials/header') %>

<form id="new-form" action="/poems" method="POST">
  <label>Title:</label>
  <input type="text" name="title">
  <br>
  <label>Poet:</label>
  <input type="text" name="poet">
  <br>
  <label>Year:</label>
  <input type="text" name="releaseYear">
  <br>
  <label>Poem:</label>
  <br>
  <textarea name="poem"></textarea>
  <br>
  <input type="submit" value="Add Poem">
</form>

<%- include('../partials/footer') %>